<div class="container contaEncuesta">
    <div class="nameEncuesta">
        {{encuesta?.nameAnswer}}
    </div>
    <div class="cantidadPreguntas" *ngIf="encuesta">
        {{contador}} de {{encuesta.preguntas.length}}
    </div>
    <div class="contentEncuesta" *ngIf="pregunta">
        <div class="pregunta">{{pregunta.pregunta}}</div>
        <div class="respuesta">
            <mat-radio-group [(ngModel)]="respuesta">
                <div [ngSwitch]="pregunta.tipo">
                    <ng-container *ngSwitchCase="'0'">
                        <mat-radio-button value="0">No</mat-radio-button>
                        <mat-radio-button value="1">Si</mat-radio-button>
                    </ng-container>
                    <ng-container *ngSwitchCase="'1'">
                        <mat-radio-button *ngFor="let n of [0,1,2,3,4]" [value]="n">
                            {{n + 1}}
                        </mat-radio-button>
                    </ng-container>
                    <ng-container *ngSwitchCase="'2'">
                        <mat-radio-button *ngFor="let n of [0,1,2,3,4,5,6,7,8,9]" [value]="n">
                            {{n + 1}}
                        </mat-radio-button>
                    </ng-container>
                </div>
            </mat-radio-group>
        </div>
        <button mat-raised-button color="primary" (click)="save()" [disabled]="respuesta === null">Guardar</button>
    </div>
</div>